@media print {
    /*.myDivToPrint {*/
    /*    background-color: white;*/
    /*    height: 100%;*/
    /*    width: 100%;*/
    /*    position: fixed;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    margin: 0;*/
    /*    padding: 15px;*/
    /*    font-size: 14px;*/
    /*    line-height: 18px;*/
    /*}*/

    .myDivToPrint{
        margin: 0;
        color: #000;
        background-color: #fff;
        font-size: 14px;
        height: 100%;

    }
    .nprint{
        display: none;
    }
    header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
        display: none;
    }

}

.print-table{
    
}

@page {
    size: 13in 8.5in;
    margin: 0;
}
